* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

//* {
//  //debugging
//  border: 1px solid red;
//}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

.container {
  max-width: calc(1490px - 80px);
  margin: auto;
  padding: 0 40px;

  @include resize(md) {
    max-width: calc(1490px - 32px);
    padding: 0 16px;
  }
}

.primary-btn {
  background-color: #1D82F5;
  color: #FFFFFF;
  border: none;
  padding: 16px 24px;
  border-radius: 14px;
  font-size: 18px;
  cursor: pointer;
  white-space: nowrap;
  outline: none;
}

.lock {
  overflow: hidden;
}
