.footer-container {
  background-color: #142444;
  color: #FFFFFF;
  padding-top: 58px;
  padding-bottom: 74px;

  .footer {
    max-width: 1132px;
    margin: auto;
    display: flex;
    flex-direction: column;

    &__first, &__second {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}