.footer-container {
  background-color: #142444;
  color: #FFFFFF;
  padding-top: 58px;
  padding-bottom: 74px;

  @include resize(lg) {
    padding-top: 40px;
    padding-bottom: 60px;
  }

  .footer {
    max-width: calc(1132px - 32px);
    padding: 0 16px;
    margin: auto;
    display: flex;
    flex-direction: column;

    &__first, &__second {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include resize(lg) {
        flex-direction: column;
      }
    }

    &__first {
      padding-bottom: 26px;
      @include resize(lg) {
        gap: 16px;
        padding-bottom: 0;
      }
    }

    &__logo {
      max-width: 230px;

      @include resize(lg) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }

    &__title {
      font-size: 14px;
      font-weight: 500;
      white-space: nowrap;
      margin-top: 6px;
    }

    &__links {
      display: flex;
      align-items: center;
      gap: 40px;
      @include resize(lg) {
        flex-direction: column;
        gap: 16px;
        order: 3;
        border-top: 1px solid #2E3545;
        width: 100%;
        padding: 16px 0;
      }
    }

    &__contacts {
      display: flex;
      gap: 30px;
      @include resize(lg) {
        flex-direction: column;
        gap: 16px;
      }
    }

    &__socials {
      display: flex;
      align-items: center;
      gap: 24px;
      @include resize(lg) {
        order: 2;
      }
    }

    &__second {
      border-top: 1px solid #2E3545;
      padding-top: 32px;
      @include resize(lg) {
        gap: 16px;
        padding-top: 16px;
      }
    }
  }
}