.crm {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FAFAFA;

  @include resize(lg) {
    background: #FFFFFF;
    flex-direction: column;
    gap: 16px;
  }

  &__left {
    @include resize(lg) {
      background: #FAFAFA;
      width: 100%;
      object-fit: cover;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__img {
    max-height: 590px;
    max-width: 100%;
    object-fit: cover;
  }

  &__right {
    max-width: 730px;

    @include resize(lg) {
      background: #FAFAFA;
      padding: 16px;
      max-width: none;
    }
  }

  &__header {
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;

    @include resize(xl) {
      font-size: 32px;
      line-height: 40px;
    }

    @include resize(lg) {
      text-align: center;
    }

    span {
      color: #1D82F5;
    }
  }

  &__description {
    margin-top: 38px;
    max-width: 620px;

    @include resize(lg) {
      text-align: center;
      margin: 38px auto auto;
    }
  }
}
