.demo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 100px 0 120px 0;
  @include resize(lg) {
    flex-direction: column-reverse;
    justify-content: center;
  }

  &__btnr {
    @include resize(lg) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__left {
    .primary-btn {
      margin-top: 40px;
    }
  }

  &__header {
    max-width: 490px;
    @include resize(lg) {
      text-align: center;
    }
  }

  &__right {
    max-width: 510px;

    img {
      width: 100%;
      height: auto;
    }
  }
}