.offered {
  margin-top: 100px;

  &__header {
    text-align: center;
  }

  &__description {
    margin-top: 18px;
    text-align: center;
  }

  &__list {
    margin-top: 48px;
    @include resize(lg) {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }
}

.service {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
  @include resize(lg) {
    flex-direction: column;
    gap: 16px;
    margin-top: 0;
  }

  &:nth-child(even) {
    flex-direction: row-reverse;
    @include resize(lg) {
      flex-direction: column;
    }
  }

  &:nth-child(even) &__left {
    margin-left: 32px;
    margin-right: 0;
    @include resize(lg) {
      margin-left: 0;
    }
  }

  &__left {
    background-color: #FAFAFA;
    border-radius: 40px;
    max-height: 410px;
    width: auto;
    margin-right: 32px;

    img {
      max-height: 410px;
      width: auto;
      max-width: 100%;
      object-fit: cover;
    }
  }

  &__wrap {
    padding: 0 60px;
  }

  &__right {
    border-radius: 40px;
    max-width: 745px;
    height: 410px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FAFAFA;
  }

  &__description {
    margin-top: 24px;
  }

}
